@use '../../colors.scss';

.tab {
  border: colors.$secondary-color 1px solid;

  width: 10em;
  line-height: 3em;
  height: 3em;
  text-align: center;

  border-radius: 1em;
  cursor: pointer;
}

.tab-active {
  @include colors.gradient();
  text-shadow: 1px 1px black;
  border: none;
}

.tab-list {
  list-style: none;

  display: flex;
  gap: 2em;
}

.tab-nav {
  top: 0;
}

.tabs {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tab-content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  margin-left: 0.2em;
  margin-right: 0.2em;
  height: 100%;
}

.tab-content-inactive {
  display: none;
  height: 0;
  width: 0;
}

.tabs__wrapper {
  display: flex;
  flex-direction: column;
  
  height: 100%;
  overflow-y: scroll;
  margin-left: 10px;
  margin-right: 10px;
}