@use './colors.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  color: colors.$font-main-color;
  background-color: colors.$bg-main-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: colors.$secondary-color;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: lighten( colors.$secondary-color, 30);
}

body, html {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
}

button {

  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  color: colors.$font-main-color;

  @include colors.responsive();
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex {
  display: flex;
}

select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.text-input {
  color: colors.$font-main-color;
  background-color: unset;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #ccc;
  //border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;

  &::placeholder {
    font-style: italic;
  }

  &:active,
  &:not(:placeholder-shown),
  &:focus {
    border-color: colors.$secondary-color;
  }

  &:disabled {
    color: colors.$font-secondary-color;
    border-color: colors.$font-secondary-color;
  }
}