@use '../../colors.scss';

.login__wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
}

.login__box {
  text-align: center;
  align-self: center;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.quote-box {
  height: 300px;
  padding-top: 3rem;
  font-size: 1.3rem;
}

.login__title-box {
  padding: 5vw;
  background-color: colors.$bg-secondary-color;
  border-radius: 1rem;

  h1 {
    margin-top: 0;
  }

  a {
    font-size: 1.2rem;
  }
}