.song-list {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

  li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li::before {
    display: none;
    content: '';
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}